body{
    font-family:"calibri", sans-serif;
    font-size:"16px";
}

header{
    background-color: #809995;
}

header>a{
    display: block;
}

nav{
    display: inline-block;
    width: 80%;
    background-color: #cce5e0;
    padding: 10px;
}

nav img{
    width: 10%;
}

main{
    background-color: #cce5e0;
    font-size: 18px;
}

footer{
    background-color: #cce5e0;
    padding: 5px;
}

/* li{
    display: inline-block;
    width: 150px;
} */

h1{
    font-family:"verdana", sans-serif;
    text-align: center;
    color: #563f16;
}

p{
    line-height: 1.5;
}

.container{
    display:grid;
    grid-template-columns: 40% 40%;
    justify-items: center;
}

.container img{
    width: 100%;
}

.flex_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}